body {
    margin: 0;
    background-color: rgb(47, 47, 47);
    color: whitesmoke;
}

header {
    border-bottom: 2px gray solid;
    background-color: black;
    position: sticky;
    top: 0;
}

.icon {
    max-width: 50px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: right;
    gap: 30px;
    padding: 0px 50px;
    margin: 0;
    align-items: center;
}

a:link {
    color: whitesmoke;
}

a:visited {
    color: whitesmoke;
}
  
a:hover {
    color: whitesmoke;
}
  
a:active {
    color: whitesmoke;
}

section {
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 550px;
    margin: auto;
}

.sectionOne {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sectionOne > h1 {
    padding-top: 60px;
}

.sectionOne > img {
    max-width: 17em;
}

.card {
    display: flex;
    max-width: 475px;
}

.cardText {
    width: 50%;
}

.cardImg {
    width: 50%;
}

.sectionOne > p {
    margin: 20px;
}

footer {
    display: flex;
    border-top: 2px gray solid;
    justify-content: center;
    background-color: black;
    padding: 0 0 4px 0;
}

@media Queries {}